<div class="h-full w-full flex flex-col justify-center items-center bg-image">
  <div class="w-[45rem] p-8 card rounded-2xl bg-white">
    <form
      class="h-full"
      [formGroup]="signupForm"
      (ngSubmit)="signUp(signupForm.value)"
    >
      <app-auth-header
        [headline]="name ? name : 'Welcome back'"
        [description]="
          name
            ? 'Enter your details to continue'
            : 'Enter your credentials to sign in'
        "
      ></app-auth-header>
      <div class="mt-10" *ngIf="!hasAccount">
        <app-base-input-field
          label="First name"
          hint="Your first name"
          type="tel"
          [control]="signupForm.controls['firstName']"
        ></app-base-input-field>
      </div>
      <div class="mt-5">
        <app-base-input-field
          label="Last name"
          hint="Your last name"
          [control]="signupForm.controls['lastName']"
        ></app-base-input-field>
      </div>
      <div class="mt-5">
        <app-base-input-field
          label="Email"
          hint="Email address "
          [control]="signupForm.controls['emailAddress']"
        ></app-base-input-field>
      </div>
      <div class="mt-5">
        <app-base-input-field
          label="Password"
          hint="Passwords are case sensitive"
          type="password"
          [control]="signupForm.controls['password']"
        ></app-base-input-field>
      </div>
      <div class="mt-5">
        <app-base-input-field
          label="Confirm Password"
          hint="Passwords are case sensitive"
          type="password"
        ></app-base-input-field>
      </div>
      <p class="text-sm text-gray-400">
        Already having account?<a
          href="javascript:void(0)"
          [routerLink]="['/login']"
          class="text-sm text-gray-400 hover:text-blue-700"
        >
          Login
        </a>
      </p>

      <div class="mt-10 hidden md:block">
        <app-base-button
          buttonClass="font-bold text-base btn-primary w-full"
          buttonText="Register"
          buttonType="submit"
          color="primary"
          [isDisabled]="!signupForm.valid"
          [isLoading]="isLoggingIn"
          loadingText="Creating account"
        ></app-base-button>
      </div>

      <!-- Mobile View -->
      <div
        class="bottom-0 w-full fixed bg-darker py-3 px-2 grid grid-cols-2 gap-5 md:hidden"
      >
        <div>
          <app-base-button
            *ngIf="hasAccount"
            buttonClass="font-bold text-base btn-primary w-full"
            buttonText="Register"
            buttonType="submit"
            color="primary"
            [isDisabled]="signupForm.invalid"
            [isLoading]="isLoggingIn"
            loadingText="Creating acccount"
          ></app-base-button>
        </div>
      </div>
    </form>
  </div>
</div>
